.hero {
  // min-width: 100vw;
  // margin-left: auto;
  // margin-right: auto;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../../images/hero480.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  align-items: center;

  text-align: center;
  background-color: #2f303a;
  letter-spacing: 0.06em;
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero {
    background-image: url(../../images/hero480-2x.jpg);
  }
}

@media screen and (min-width: 481px) {
  .hero {
    background-image: url(../../images/hero768.jpg);
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: url(../../images/hero768-2x.jpg);
    }
  }
}

@media screen and (min-width: 769px) {
  .hero {
    background-image: url(../../images/hero1200.jpg);
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: url(../../images/hero1200-2x.jpg);
    }
  }
}

.hero__container {
  padding-top: 118px;
  padding-bottom: 118px;
}

.hero__title {
  margin-bottom: 30px;

  font-style: normal;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

.hero__button {
  display: inline-block;
  min-width: 200px;
  padding: 10px 32px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;

  background-color: $accent-color;
  color: #ffffff;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
}
