.portfolio {
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.portfolio__list-btn {
  @media screen and (min-width: 480px) {
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    margin-bottom: 40px;
  }

  @media screen and (min-width: 768px) {
    justify-content: center;
    margin-bottom: 30px;
  }

  @media screen and (min-width: 1200px) {
    // justify-content: center;
    margin-bottom: 50px;
  }

  // @media screen and (min-width: 768px) {
  //   margin-bottom: 30px;
  // }
}

.portfolio__portfolio-button {
  padding: 6px 22px;
  border-radius: 4px;
  border: none;

  background-color: #f5f4fa;
  color: $secondary-text-color;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  cursor: pointer;
  letter-spacing: 0.03em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: $accent-color;
    color: #ffffff;
  }
}

.portfolio__portfolio-item:not(:last-child) {
  margin-right: 8px;
  margin-bottom: 15px;
}

.portfolio__list-examples {
  // padding-top: 40px;
  // padding-bottom: 60px;

  @media screen and (min-width: 480px) {
    display: block;
  }

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    // padding-top: 40px;
    margin-left: -30px;
    margin-top: -30px;
  }
}

.portfolio__examples-item {
  @media screen and (min-width: 480px) {
    margin-bottom: 30px;
  }

  @media screen and (min-width: 768px) {
    margin-left: 30px;
    margin-top: 30px;
    margin-bottom: 0;
    flex-basis: calc(100% / 3 - 30px);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.portfolio__examples-link {
  display: block;

  &:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.portfolio__examples-thumb {
  position: relative;
  overflow: hidden;

  @media screen and (min-width: 480px) {
    & img {
      width: 450px;
    }
  }

  @media screen and (min-width: 768px) {
    & img {
      width: 354px;
    }
  }

  @media screen and (min-width: 1200px) {
    & img {
      width: 370px;
    }
  }
}

.portfolio__examples-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  padding: 63px 24px;
  opacity: 0;

  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;
  background: rgba(33, 150, 243, 0.9);
  transform: translatey(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .portfolio__examples-link:hover & {
    opacity: 1;
    transform: translatey(0);
  }
}

.portfolio__title {
  margin-top: 20px;

  color: $secondary-text-color;

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
}

.portfolio__text {
  margin-top: 4px;

  color: $primery-text-color;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
}

.portfolio__description {
  padding: 20px 24px;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}
