.team {
  // max-width: 480px;
  background-color: #f5f4fa;
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.team__title {
  margin-bottom: 30px;
  color: $secondary-text-color;

  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;

  @media screen and (min-width: 1200px) {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.17;
  }
}

.team__list {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    flex-wrap: nowrap;

    margin-left: 0;
  }
}

.team__item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: #ffffff;

  &:not(:first-child) {
    margin-top: 30px;
  }

  & img {
    // height: 100%;
    // width: 100%;
    // object-fit: cover;
    width: 100%;
  }

  // @media screen and (min-width: 480px) {
  //   &:not(:first-child) {
  //     margin-top: 30px;
  //   }

  //   & img {
  //     width: 450px;
  //   }
  // }

  @media screen and (min-width: 768px) {
    // & img {
    //   width: 354px;
    // }
    flex-basis: calc(100% / 2 - 30px);
    margin-left: 30px;
    margin-top: 30px;
  }

  @media screen and (min-width: 1200px) {
    // margin-top: 0;
    margin-left: 0;

    // & img {
    //   width: 270px;
    // }

    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}

.team__container {
  // max-width: 450px;
  padding-top: 30px;
  padding-bottom: 24px;
}

.team__member {
  color: $secondary-text-color;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.team__text {
  margin-top: 10px;
  margin-bottom: 16px;

  font-weight: normal;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.social-networks {
  display: flex;
  justify-content: center;

  &:not(:last-child) {
    margin-right: 10px;
  }
}

.social-networks__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: $accent-color;
    fill: #ffffff;
  }
}

.social-networks__icon {
  width: 20px;
  height: 20px;
}
