footer {
  background-color: #2f303a;
}

.container--footer {
  padding-top: 60px;
  padding-bottom: 60px;
  max-width: 480px;
  // min-width: 320px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;

  @media screen and (min-width: 768px) {
    min-width: 768px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    // padding-right: 89px;
    // padding-left: 76px;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    justify-content: space-between;
    min-width: 1200px;
    // padding-left: 0;
    // padding-right: 0;
  }
}

// .left-column {
//   padding-top: 60px;
//   padding-bottom: 60px;
// }
