footer {
  background-color: #2f303a;
}

.container--footer {
  @media screen and (min-width: 480px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    // padding-right: 89px;
    // padding-left: 76px;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    justify-content: space-between;
    // padding-left: 0;
    // padding-right: 0;
  }
}

// .left-column {
//   padding-top: 60px;
//   padding-bottom: 60px;
// }
