.contacts {
  display: none;

  @media screen and (min-width: 768px) {
    display: block;
    // margin-left: 84px;
    padding-top: 21px;
    padding-bottom: 21px;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    // width: 1200px;
    margin-left: auto;
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.contacts__item:not(:last-child) {
  margin-bottom: 10px;

  @media screen and (min-width: 1200px) {
    margin-right: 30px;
    margin-bottom: 0;
  }
}

.contacts__link {
  display: flex;
  align-items: center;

  color: $primery-text-color;

  letter-spacing: 0.02em;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $accent-color;
  }

  @media screen and (min-width: 1200px) {
    font-size: 14px;
    line-height: 1.14;
  }
}

.contacts__svg-mail {
  width: 14px;
  height: 10px;
  margin-right: 10px;
  fill: currentColor;

  @media screen and (min-width: 1200px) {
    width: 16px;
    height: 12px;
  }
}

.contacts__svg-mobile {
  width: 10px;
  height: 14px;
  margin-right: 10px;
  fill: currentColor;

  @media screen and (min-width: 1200px) {
    width: 10px;
    height: 16px;
  }
}
