.site-nav {
  display: none;

  @media screen and (min-width: 768px) {
    display: flex;
    // margin-left: 93px;
  }
  @media screen and (min-width: 768px) {
    margin-left: 93px;
  }
}

.site-nav__item:not(:last-child) {
  margin-right: 50px;
}

.site-nav__link {
  display: block;
  color: $secondary-text-color;
  padding-top: 32px;
  padding-bottom: 32px;

  letter-spacing: 0.02em;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &--current {
    position: relative;
    color: $accent-color;
  }

  &--current::after {
    content: '';

    position: absolute;
    left: 0;
    bottom: 0;
    border-radius: 2px;
    height: 4px;
    background-color: $accent-color;
    width: 100%;
  }

  &:hover,
  &:focus {
    color: $accent-color;
  }
}
