.menu-toggle {
  display: flex;
  align-items: center;
  margin: 0;
  margin-left: auto;
  padding: 0;
  border: none;
  background-color: #fff;

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.menu-container {
  position: fixed;
  padding: 48px 40px;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vw;
  background: #ffffff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08),
    0px 1px 3px rgba(0, 0, 0, 0.16);
  transform: translateX(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-container.is-open {
  transform: translateX(0);
}

.mobile-menu__link {
  // width: 219px;
  // height: 48px;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: $secondary-text-color;

  &:hover {
    color: $accent-color;
  }
}

.mobile-menu__item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-menu__icon:hover {
  color: $accent-color;
}
