header {
  border-bottom: 1px solid #ececec;
  // display: flex;
  // align-items: center;
}

.page-header {
  display: flex;
  align-items: center;
  min-height: 60px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 16px;
  padding-bottom: 16px;

  @media screen and (min-width: 768px) {
    // display: flex;
    // align-items: center;
    justify-content: space-between;
    // max-width: 1600px;
    min-height: 80px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 0;
    padding-bottom: 0;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
  }
}
